body {
    background-image: url(img/loginBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 2em;
    background-color: rgb(230, 229, 229);
}

.registerLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#btnRegister {
    margin-top: 1em;
}

.bottomMessage {
    text-align: center;
    margin-top: 1em;
}