@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Ubuntu', sans-serif !important;
}

#map {
    height: 770px;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}

@media screen and (max-width: 1200px) {
    #welcome {
        display: none;
    }
}

@media screen and (max-height: 850px) {
    #map {
        height: 660px;
    }
}

@media screen and (max-width: 850px) {
    #logo {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #labelProfil {
        font-size: 20px;
    }
}